.social-links {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social-links__icon {
  background-color:#000000;
  box-shadow:0px 0px 2px 0px #fff;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 55px;
  margin: 0 5px;
  position: relative;
  width: 55px;
}

.social-links__icon:hover,
.social-links__icon:focus {
  background-color: #ea384d;
}

.social-links__icon:active {
  background-color: #ea384d;
}

.social-links__icon svg {
  fill: #FFF;
  height:20px;
  width:20px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto;
}

.social-links__icon:hover svg,
.social-links__icon:focus svg,
.social-links__icon:active svg {
  fill: #FFF;
}
