@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap');
html {
  font-size: 24px;
 
}

@media (max-width: 767px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

body {
  color: #494A52;
   font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  word-break: break-word;
}
body p{ line-height:1.6;}

html[lang^="ja"] body,
html[lang^="zh"] body,
html[lang^="ko"] body {
  line-break: strict;
  word-break: break-all;
}

/* Paragraphs */

p {
  font-size: 1rem;
  margin: 0 0 1.4rem;
}

strong {
  font-weight: 700;
}

/* Anchors */

a {
  color: #0270E0;
  cursor: pointer;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #494A52;
   font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin: 0 0 1.4rem;
}

h1 {
  font-size: 2.1rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.175rem;
  font-weight: normal;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
}

/* Lists */

ul,
ol {
  margin: 0 0 1.5rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin: 0;
}

ul.no-list {
  list-style: none;
}

/* Code blocks */

code {
  vertical-align: bottom;
}

/* Blockquotes */

blockquote {
  border-left: 2px solid #A9A9A9;
  margin: 0 0 1.4rem;
  padding-left: 15px;
}

/* Horizontal rules */

hr {
  background-color: #CCC;
  border: none;
  color: #CCC;
  height: 1px;
}

/* Subscripts and superscripts */

sup,
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
@media(max-width:767px){
  h2{font-size:25px !important}
}
@media(min-width:767px) and (max-width:991px){
  h2{font-size:35px !important}
}
/* Focus styles */

:focus {
  outline: auto;
  outline-color: green;
}

.disable-focus-styles :focus {
  outline: none;
}

.separator {
    width: 150px;
    height: 5px;
    display: inline-block;
    margin: auto;
    transition: .3s;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
}
.heading:hover .separator {
    width: 200px;
    height: 5px;
   
}
.heading .description {
    
    padding-bottom: 40px;
}