.navigation-primary {
  display:block;
}

.navigation-primary a {
  color: #ccc;
/* font-size: 16px; */
  font-weight: 300;
  line-height: 40px;
  padding:auto 7px 
}

.navigation-primary a.active-item {
  font-weight: 600;
  position: relative;
}

.navigation-primary .submenu.level-1 > li > a.active-item:after {
  background-color: #494A52;
  bottom: -3px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}

.navigation-primary .submenu {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index:9999;
}

.navigation-primary .submenu a,
.navigation-primary .submenu p {
  text-decoration: none;
}

.submenu-toggle {
  display: none;
}

.submenu.level-1 {
  display: inline-block;
  white-space: nowrap;
}

.submenu.level-1 > li {
  display: inline-block;
  padding: 15px 14px;
  text-transform: capitalize;
}
ul.submenu.level-2 .has-submenu {
    display: block;
    position:relative;
}
.submenu.level-1 > li.has-submenu {
  position: relative;
}

.submenu.level-1 > .has-submenu > .menu-arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #fff;
  display: block;
  height: 0;
  margin-left: 1px;
  position: absolute;
  right: 0px;
  top: 33px;
  width: 0;
}

.submenu.level-2 {
  border-top: 5px solid #D1D6DC;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 9px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 9px 0 rgba(0,0,0,0.2);
  font-weight: 500;
  left: -9999px;
  opacity: 0;
  display:none;
  position: absolute;
  text-transform: none;
  top: 100%;
  min-width:150px;
/*   -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%); */  
}

.has-submenu .level-3 li a.menu-link:after {
    opacity: 0;
}
ul.submenu.level-2 li.has-submenu ul{
   left: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
}
ul.submenu.level-2 li.has-submenu:hover ul{opacity:1}
.submenu.level-2 > li:first-child > a {
  position: relative;
  z-index: 2;
}

/* .submenu.level-2 > li:first-child:before {
  background-color: #121217;
  border: 2px solid #494A52;
  border-radius: 6px;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);
  content: '';
  display: block;
  height: 30px;
  left: 125px;
  margin-left: 20px;
  overflow: hidden;
  position: absolute;
  top: -12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: background-color 0.3s;
  width: 30px;
  z-index: 1;
} */

.submenu.level-2 > li:first-child:hover:before,
.submenu.level-2 > li:first-child.focus:before {
  background-color: rgba(208, 210, 212, 1.0);
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}


.submenu.level-2 .menu-item .menu-link {
  background-color: #2b2b35;
  display: block;
  padding: 8px 30px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border:solid 1px #000;
}

.submenu.level-2 .menu-item:first-of-type,
.submenu.level-2 .menu-item:first-of-type .menu-link {
  border-radius:0;
}

.submenu.level-2 .menu-item:last-of-type,
.submenu.level-2 .menu-item:last-of-type .menu-link {
  border-radius: 0px;
}

.submenu.level-2 > li:last-child,
.submenu.level-2 > li:last-child .submenu {
  border-bottom: none;
  border-radius: 0;
}

.submenu.level-2 .menu-item .menu-link:hover,
.submenu.level-2 .menu-item .menu-link:focus {
  background-color: #D0D2D4;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.submenu.level-3 .menu-item .menu-link {
  padding-left: 60px;
}

.submenu.level-1 > li.has-submenu:hover .submenu.level-2,
.submenu.level-1 > li.has-submenu.focus .submenu.level-2 {
  left: 0;
  opacity: 1;
  display:block;
}

/* Hide navigation dropdown in the inline editor */
.hs-inline-edit .submenu.level-1 > li.has-submenu:hover .submenu.level-2,
.hs-inline-edit > li.has-submenu.focus .submenu.level-2 {
  visibility: hidden;
}


@media (min-width: 768px) and (max-width: 1150px) {
  .navigation-primary a {
    font-size: 20px;
  }

  .submenu.level-1 > li {
    padding: 22px 15px;
  }

  .submenu.level-1 > li:last-child {
    padding-right: 22px;
  }

  .submenu.level-1 > .has-submenu > .menu-arrow {
    right: 0;
    top: 40px;
  }

  .submenu.level-2 {
    left: 0;
  }
}

@media (max-width:991px) {
  .navigation-primary a {
    font-size:25px;
  }
  
  .navigation-primary .submenu.level-1 > li > a.active-item:after {
    content: none;
  }

  .navigation-primary .submenu.level-1 > li > a.active-item:after {
    display: none;
  }

  .submenu > li > a {
    display: block;
    width: 100%;
  }

  .submenu > .has-submenu {
    position: relative;
  }

  .submenu > .has-submenu > a {
    width: 70%;
  }

  .submenu {
    display: none;
  }

  .submenu.level-1 {
    width: 100%;
  }

  .submenu.level-1 > li {
    border-top: 2px solid #CED4DB;
    display: block;
    padding: 0;
    width: 100%;
    background:#121217;
  }

  .submenu.level-1 > li > a {
    font-weight: 600;
    padding: 7px 30px;
  }

  .submenu.level-1 > .has-submenu > .menu-arrow,
  .submenu > .has-submenu > .menu-arrow,
  .submenu .menu-arrow {
    background-position: center right 30px;
    background-repeat: no-repeat;
    background-size: 20px;
    border: none;
    cursor: pointer;
    height: 55px;
    padding: 15px 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 12%;
    border-left: 3px solid #414144;
  }

  .submenu.level-1 > .has-submenu > .menu-arrow-bg,
  .submenu > .has-submenu > .menu-arrow-bg,
  .submenu .menu-arrow-bg {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIxOXB4IiBoZWlnaHQ9IjE5cHgiIHZpZXdCb3g9IjAgMCAxOSAxOSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgIDx0aXRsZT5QbHVzPC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxnIGlkPSJQbHVzIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4gICAgICAgIDxnIGlkPSJHcm91cCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMC4wMDAwMDAsIDAuMDAwMDAwKSIgc3Ryb2tlPSIjOTc5ODlGIiBzdHJva2Utd2lkdGg9IjIuNCI+ICAgICAgICAgICAgPGcgaWQ9Ikdyb3VwLTIiPiAgICAgICAgICAgICAgICA8cmVjdCBpZD0iUmVjdGFuZ2xlIiB4PSIxLjIiIHk9IjkuNiIgd2lkdGg9IjE2LjgiIGhlaWdodD0iMSIgcng9IjAuNSI+PC9yZWN0PiAgICAgICAgICAgICAgICA8cmVjdCBpZD0iUmVjdGFuZ2xlLUNvcHktNSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOS42MDAwMDAsIDkuNjAwMDAwKSByb3RhdGUoOTAuMDAwMDAwKSB0cmFuc2xhdGUoLTkuNjAwMDAwLCAtOS42MDAwMDApICIgeD0iMS4yIiB5PSI5LjYiIHdpZHRoPSIxNi44IiBoZWlnaHQ9IjEiIHJ4PSIwLjUiPjwvcmVjdD4gICAgICAgICAgICA8L2c+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=);
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    margin-left: auto;
    margin-right: 15px;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
    width: 20px;
  }

/*   .submenu.level-2 > li:first-child:before {
    content: none;
  }
 */
  input[type="checkbox"]:checked ~ .submenu {
    display: block;
  }

  input[type="checkbox"]:checked ~ .menu-arrow .menu-arrow-bg {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }

  .submenu.level-2 {
    border: none;
    box-shadow: none;
    opacity: 1;
    position: static;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
    visibility: visible;
    width: 100%;
    z-index: 2;
  }

  .submenu.level-2 .menu-item {
    background-color:#2b2b35;
    border-bottom: none;
    border-top: 2px solid #EBEFF3;
    padding: 0;
  }

  .submenu.level-2 .menu-item .menu-link {
    padding: 7px 50px;
  }

  .submenu.level-2 .menu-item .menu-link:hover {
    background-color: inherit;
  }

  .submenu.level-3 {
    background-color: inherit;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .submenu.level-3 > li {
    background-color: inherit;
    padding: 0;
  }

  .submenu.level-3 .menu-item .menu-link {
    padding: 7px 90px;
  }
}

@media(max-width:991px){
.navigation-primary .has-submenu a, .button{font-size:12px !important}
}
