{% if module.is_live %}
<div class="blog-feed" style="background:{{ module.bg_color.color }};">
	 <div class="container" data-aos="fade-up" data-aos-duration="3000">
	 	<div class="heading">
	 		<h2>{{ module.section_heading }}</h2>
	 		<div class="description">{{ module.description }}</div>
	 		<div class="separator" style="background: {{ module.border_color.color }}"></div>
	 	</div>

	 </div>
  <div class="container" data-aos="fade-up" data-aos-duration="3000">
    <div class="row">
      <section class="center slider">
       {% for item in module.Blog_box %}
        <div>
      <div class="blog-slide" style="background: {{ item.blog_box_bg.color }};">
        <div class="blog_Box" style="border-color: {{ item.service_box_border.color }};">
          <div class="imgBx">
          <img src="{{ item.blog_image.src }}" alt="{{ item.blog_image.alt }}" {{ sizeAttrs }}>
         </div>
            <div class="content">
            <h3>{{ item.service_heading }}</h3>
            <div class="description">{{ item.blog_des }}</div>
            <a href="{{ href }}">{{ item.blog_link_text }}</a>
          </div>
        </div>
      </div>
            </div>
      {% endfor %}
       </section>
    </div>
  </div>
</div>
{% endif %}
