.service-3{padding:80px 0px}
.heading{text-align:center}
.heading .description{width:75%;}
.services_box{margin:70px 0px 20px;transition:.3s;padding:5px 20px 40px;border:solid 1px;border-radius:5px}
.service-icons{width:100px;height:100px;border-radius:10px;margin: auto;transform: rotateZ(45deg); margin-top: -17%;display:flex;justify-content:center;align-items:center;}
.bx-content{padding-top:50px;text-align:center;}
.bx-content h3{padding-bottom:10px;}
.service-icons i{font-size: 40px;transform: rotateZ(316deg);}
.services_box:hover .service-icons{box-shadow: 0px 0px 0px 2px #fff;}
@media(max-width:575px){
  .service-3 .service-icons{margin-top: -12%;}
}

@media(min-width:576px) and (max-width:767px){
.service-3 .services_box {margin: 70px 0px 50px;}
  .service-3 .service-icons{margin-top: -27% !important;}
}
@media(min-width:768px) and (max-width:991px){
  .service-3 .service-icons{margin-top: -33% !important;}
}
@media(min-width:992px) and (max-width:1259px){
  .service-3 .service-icons{margin-top:-22% !important;}
}
