<!--
  templateType: page
  isAvailableForNewContent: true
  label: Internal Page
  screenshotPath: ../images/template-previews/internal-page.png
-->
{% extends './layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper">
  {% dnd_area "dnd_areainternal" class='body-container', label='Main section' %}
	
		{% dnd_section 
		  padding={
				'top': 0,
				'bottom': 0,
				'left': 0,
				'right': 0
			},
			full_width=true
		%}
   {% dnd_module 'Product_Feature' 
				path='./../modules/Product_Feature.module',
				label="Product_Feature",
				width=12
			%}
		
			{% end_dnd_module %}
		{% end_dnd_section %}
  
  {% dnd_section 
		  padding={
				'top': 0,
				'bottom': 0,
				'left': 0,
				'right': 0
			},
			full_width=true
		%}
   {% dnd_module 'CTA_Button' 
				path='./../modules/CTA_Button.module',
				label="CTA_Button",
				width=12
			%}
		
				
			{% end_dnd_module %}
		{% end_dnd_section %}
  
  {% end_dnd_area %}
   
</main>
{% endblock body %}